*{
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

body{
    background: rgb(70, 142, 242);
}

.text{
    font-size: 4rem;
    /* max-width: 10rem; */
    letter-spacing: 1rem;
}

li{
    font-size: 1rem;
    text-decoration: none;
    color: blanchedalmond;
    list-style: none;
    padding: 4px; 
    
}

a{
    color: rgb(194, 190, 190);
    background-color: rgb(65, 65, 245); 
    padding: .3rem;
    border-radius: 2rem;
}

 
.contactus{
    font-size: x-large;
    font-size:9rem;
}

.aboutus{
    font-size:9rem;

}



/* :increment and :decrement Styles */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
      /* font-size: 10rem; */
    padding: 10px 20px;
    font-size: 30px;
    border: 3px solid rgb(49, 133, 251);
    border-radius: 5px;
    cursor: pointer; 
  }
  
  #counter {
    padding: 0 20px;
    font-size: 70px;
  }